alembic==0.9.3
appnope==0.1.0
awscli==1.6.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bcdoc==0.12.2
bcolz==0.12.1
beautifulsoup4==4.6.0
bleach==2.0.0
boto==2.33.0
botocore==0.73.0
Bottleneck==1.2.1
bs4==0.0.1
cachetools==2.0.0
certifi==2015.4.28
chardet==3.0.4
click==6.7
colorama==0.2.5
configparser==3.5.0
contextlib2==0.5.5
cql==1.4.0
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.25.2
decorator==4.0.9
dill==0.2.6
docutils==0.14
email==4.0.2
empyrical==0.3.0
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.4
gapic-google-cloud-spanner-admin-database-v1==0.15.3
gapic-google-cloud-spanner-admin-instance-v1==0.15.3
gapic-google-cloud-spanner-v1==0.15.3
gapic-google-cloud-speech-v1==0.15.3
genson==0.1.0
google-api-python-client==1.6.2
google-auth==1.0.1
google-auth-httplib2==0.0.2
google-cloud==0.26.0
google-cloud-bigquery==0.25.0
google-cloud-bigtable==0.25.0
google-cloud-core==0.25.0
google-cloud-datastore==1.1.0
google-cloud-dns==0.25.0
google-cloud-error-reporting==0.25.0
google-cloud-language==0.25.0
google-cloud-logging==1.1.0
google-cloud-monitoring==0.25.0
google-cloud-pubsub==0.26.0
google-cloud-resource-manager==0.25.0
google-cloud-runtimeconfig==0.25.0
google-cloud-spanner==0.25.0
google-cloud-speech==0.26.0
google-cloud-storage==1.2.0
google-cloud-translate==0.25.0
google-cloud-videointelligence==0.25.0
google-cloud-vision==0.25.0
google-gax==0.15.13
google-resumable-media==0.1.1
googleapis-common-protos==1.5.2
GraphLab-Create==2.1
grpc-google-iam-v1==0.11.1
grpcio==1.4.0
html5lib==0.999999999
httplib2==0.10.3
idna==2.5
inflection==0.3.1
intervaltree==2.1.0
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.6
jmespath==0.5.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
lml==0.0.1
Logbook==1.1.0
lru-dict==1.1.6
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
more-itertools==3.2.0
multipledispatch==0.4.9
multiprocessing==2.6.2.1
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
notebook==5.0.0
numexpr==2.6.2
numpy==1.13.0
oauth2client==4.1.2
openpyxl==2.4.8
pandas==0.18.1
pandas-datareader==0.4.0
pandocfilters==1.4.1
parse==1.8.2
pathlib2==2.3.0
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
ply==3.8
prettytable==0.7.2
prompt-toolkit==1.0.14
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
proto-google-cloud-pubsub-v1==0.15.4
proto-google-cloud-spanner-admin-database-v1==0.15.3
proto-google-cloud-spanner-admin-instance-v1==0.15.3
proto-google-cloud-spanner-v1==0.15.3
proto-google-cloud-speech-v1==0.15.3
protobuf==3.3.0
psclient==2.0
ptyprocess==0.5.1
pyasn1==0.3.2
pyasn1-modules==0.0.9
PyDrive==1.3.1
pyexcel==0.5.1.1
pyexcel-cli==0.0.3
pyexcel-io==0.4.2
pyexcel-xlsx==0.4.0
Pygments==2.2.0
pyparsing==2.2.0
pyrtlsdr==0.2.4
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
Quandl==3.2.0
requests==2.9.1
requests-file==1.4.2
requests-ftp==0.3.1
rsa==3.4.2
scandir==1.5
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.11
sseclient==0.0.8
statsmodels==0.8.0
subprocess32==3.2.7
tables==3.4.2
terminado==0.6
testpath==0.3.1
texttable==0.9.1
thrift==0.10.0
toolz==0.8.2
tornado==4.3
tqdm==4.14.0
traitlets==4.3.2
uritemplate==3.0.0
urllib==1.21.1
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==2.0.0
xlrd==1.0.0
XlsxWriter==0.9.8
zipline==1.1.1
